<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/assets/smallLogo-C_qCfLeS.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITM8 Sales Tool</title>
    <script type="module" crossorigin src="/static/assets/index-I8NlA604.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-Zb8UiUjw.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
